<!DOCTYPE HTML>
<html>
  <head>
    <title>Love-Story</title>
    <meta name="description" content="爱情故事上集" />
    <meta name="keywords" content="爱情，清新" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/style/style.css" title="style" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1>爱情故事</span></a></h1>
          <h2>其实，我们都在追寻一种感动</h2>
        </div>
      </div>
      <div id="menubar">
        {% block menu %}{% endblock %}  
      </div>
    </div>
    {% block body %}{% endblock %}
  </div>
  </body>
</html>