{% extends "base.html" %}


{% block menu %}
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/theirs">他们的故事</a></li>
    <li><a href="/ours">我们的故事</a></li>
    <li><a href="/user">用户中心</a></li>
    <li><a href="/comment">留言</a></li>
    <li  class="selected"><a href="/contact">联系</a></li>
  </ul>
  </ul>
{% endblock %}

{% block body %}
    <div id="site_content">      
      <div id="content">
        <h1>联系我们</h1>
        <form action="/contact" method="post">
          <div class="form_settings">
            <p><span>名称</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>邮件地址</span><input class="contact" type="text" name="your_email" value=""/></p>
            <p><span>信息</span><textarea class="contact textarea" rows="8" cols="50" name="your_enquiry"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
