{% extends "base.html" %}
{% block head %}
  <meta name="description" content="爱情故事上集" />
  <meta name="keywords" content="爱情，清新" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/style/style.css" title="style" />
{% endblock %}

{% block menu %}
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li class="selected"><a href="/theirs">他们的故事</a></li>
    <li><a href="/ours">我们的故事</a></li>
    <li><a href="/user">用户中心</a></li>
    <li><a href="/comment">留言</a></li>
    <li><a href="/contact">联系</a></li>
  </ul>
  </ul>
{% endblock %}

{% block body %}
  <div id="site_content">
      <div id="content">
      {% if story %}
        <h1>{{story.title}}</h1>
        <p>{{story.content|safe}}</p> 
      {% else %}
        <h1>您好</h1>
        <p>内容不存在</p> 
      {% endif %}
      </div>
  </div>
{% endblock %}